<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-analytics.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyCmgK4bD0HJhZ15V-J8CH0tIUa23Xt2AEE",
        authDomain: "undercity-praha-62282996.firebaseapp.com",
        databaseURL: "https://undercity-praha-62282996.firebaseio.com",
        projectId: "undercity---praha-62282996",
        storageBucket: "undercity---praha-62282996.appspot.com",
        messagingSenderId: "973428543883",
        appId: "1:973428543883:web:f381955346ebf723131f8e",
        measurementId: "G-DV923232Y9"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>
